*{

    margin: 0;
    padding: 0;

}

body{

    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff); 
    background: linear-gradient(to right, #3f2b96, #a8c0ff); 

}

.container{

    width: 90%;
    height: 700px;
    background: #FFFFFF;
    margin-top: 80px;
    margin-left: 85px;
    border-radius: 10px;
    display: flex;

}

.card{

    background: #a8c0ff;
    width: 30%;

}

.form-group{

    padding: 15px;

}

.form-group h4{

    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;    
}

.form-group input,
.form-group select{

    width: 100%;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;

}

.form-group input[type="file"]{

    text-align-last: center;
    border: none;

}

.save-info{

    width: 90%;
    margin-left: 5%;
    margin-top: 12px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;

}

.message-alert {

    text-align: center;
    font-size: 16px;
    background-color: #5cb85c;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: 500;

}

.message-danger {

    text-align: center;
    font-size: 16px;
    background-color: #d9534f;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: 500;

}

.table-border{

    width: 100%;

}

.table-border th{

    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 22px;

}

.table-border td{

    text-align: center;
    border: 1px solid #000000;
    height: 80px;

}

#titulo{

    width: 170px;

}

#descripcion{

    width: 455px;

}

#precio{

    width: 170px;

}

#status{

    width: 100px;

}

#stock{

    width: 89px;

}

#acciones{

    width: 200px;

}

.edit-btn i{

    color: #000000;
    padding: 20px;

}

.edit-btn i:hover {

    color: rgb(13, 126, 56);


}

.delete-btn i{

    color: #000000;
    padding: 20px;

}

.delete-btn i:hover {

    color: rgb(143, 5, 5);


}