.header{

    background-color: #758EB7;
    height: 81px;
    width: 100%;
    top: 0;
    left: 0;

}

.main{

    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;

}

.nav{

    display: flex;
    justify-content: space-between;

}

.nav-menu{

    display: flex;
    margin-right: 30px;
    margin-top: 29px;
    list-style: none;

}

.nav-item-link{

    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;

}

.nav-item-link:hover{

    background-color: #A5CAD2;
    transition: 0.5s;

}

.productos{

    position: absolute;
    font-size: 0.8rem;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #71BDCE;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}